*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

disco-store-rest-api/.project
disco-store-rest-api/.settings/
disco-store-rest-api/disco-store-module/.classpath
disco-store-rest-api/disco-store-module/.gitignore
disco-store-rest-api/disco-store-module/.project
disco-store-rest-api/disco-store-module/.settings/
disco-store-rest-api/disco-store-webapp/.classpath
disco-store-rest-api/disco-store-webapp/.gitignore
disco-store-rest-api/disco-store-webapp/.project
disco-store-rest-api/disco-store-webapp/.settings/
